main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.description {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.description h2 {
    color: #333;
    border-bottom: 2px solid #FF8DC7;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.description h2:first-child {
    color: #333;
    border-bottom: 2px solid #FF8DC7;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 0;
}

.description p {
    color: #000000;
    line-height: 1.6;
}

.description ul {
    list-style-type: none;
    padding: 0;
}

.description ul li {
    background: #FF8DC7;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.description ul li::before {
    margin-right: 10px;
}
