body {
    color: #000000;
    margin: 0;
    padding: 0;
}

#profile-h2 {
    text-align: center;
    margin-top: 20px;
    color: #444;
    font-size: 24px;
}

#profile-edit-form {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#profile-edit-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

#profile-edit-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#profile-edit-form button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #ff6600;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#profile-edit-form button:hover {
    background-color: #e55a00;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 70px auto;
    padding: 20px;
}

.container h2 {
    text-decoration: underline overline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-overline-offset: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.litter {
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.litter img {
    max-width: 100%;
    min-width: 180px;
    height: auto;
    min-height: 130px;
    border-radius: 8px;
    margin-bottom: 0px;
}

.litter h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}